<!-- base -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yelp Itinerary Planner</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Data from <a href="https://www.yelp.com/">Yelp Places API</a>.</p>
    </footer>

</body>
</html>